hr {
    color: #4ee54a;
  }
  
  hr:not([size]) {
    height: 1.5px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-color: #4ee54a;
    color: #4ee54a;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .hidden-info {
    display: none;
    
  }
  
  .card:hover .hidden-info {
    display: block;
  }
  
  